# For this project
output/
settings/

# Python
__pycache__
*.pyc
*.egg-info
*.egg/
build/
dist/
.tox/
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.import_linter_cache/

# Editor
.idea
.vscode

# Git
.git/
.gitignore

# Env
.venv/
venv/
.env/
env/
*.env

# OS
*.swp
.DS_Store
*~

# Doc and misc
LICENSE
VERSION
README.md
Changelog.md
docs/
logs/
html/
celerybeat-schedule
