# =========================
# Mains
# =====
supervisor==4.2.5

django==5.2
django-ninja==1.4.0
gunicorn==23.0.0

requests==2.32.3

grpcio==1.71.0
grpcio-tools==1.71.0
mypy-protobuf==3.6.0

kafka-python==2.1.4

opentelemetry-sdk==1.31.1
opentelemetry-exporter-otlp==1.31.1
opentelemetry-instrumentation-logging==0.52b1
opentelemetry-instrumentation-django==0.52b1
opentelemetry-instrumentation-grpc==0.52b1
opentelemetry-instrumentation-requests==0.52b1
opentelemetry-instrumentation-sqlite3==0.52b1
opentelemetry-instrumentation-kafka-python==0.52b1

# =========================
# Devs
# =====
pre-commit==4.2.0
ruff==0.11.3
types-requests==2.32.0.20250328
