# For this project
tmp/

# Go
bin/
pkg/
*.exe
*.test
*.out
go.work

# Editor
.idea
.vscode

# Git
.git/
.gitignore

# Env
.env
*.env
.env.local
.env.*

# OS
*.swp
.DS_Store
*~

# Doc and misc
LICENSE
VERSION
README.md
Changelog.md
docs/
logs/
